.transparent {
    background: transparent !important;
}

a,
a:active,
a:hover {
    text-decoration: none !important;
    color: inherit;
}

.navbar {
    background: rgba(0, 0, 0, 0.1);
}

header {
    min-height: 450px;
    background-image: url("../img/meadow.jpg");
    background-attachment: fixed;
    background-size:cover;
    color: white;
}